<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Crypto price</title>
		<style>
			body {
				padding: 20px;
				font-family: Verdana;
			}
			.title {
				font-size: 40px;
				color: rgb(24, 24, 24);
				margin-bottom: 20px;
			}
			.description {
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="title">
			<img
				style="height: 40px"
				src="<%= `https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_64/${coinData.icon}` %>"
			/>
			<span><%= coinData.label %> price report</span>
		</div>
		<ul class="description">
			<li>Data about the past <b><%= periodData.label %></b> is shown,
				starting from <b><%= new Date(periodData.startDate).toLocaleDateString("en-GB", {year: 'numeric', month: 'long', day: 'numeric'} ) %></b>
			</li>
			<li>Each candle corresponds to <b><%= periodData.stepLabel %></b></li>
			<li>Lines show high and low values for the period</li>
			<li>Edges of colored boxes correspond to open and close prices</li>
			<li> <span style="color:#4daf4a">Green</span> indicates price increase and <span style="color:#e41a1c">red</span> price decrease</li>
		</ul>
		<%- svg %>
	</body>
</html>
